/* ABSTRACTS */
.footer-grid, .gridContainerFooter {
  display: grid;
  grid-template-areas: "navFooter navFooter" "botonTop botonTop";
  background-color: #FBE3D9; }

.footer-nav, .navFooter {
  grid-area: navFooter;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15px;
  padding-top: 15px; }

.titulos, .navFooter h2 {
  color: #5C5D60;
  font-size: 25px; }

.columna-datos, .datosInstitucionales, .datosAyuda, .datosRedesSociales, .datosAtencionAlCliente {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.enlaces, .datosInstitucionales a, .datosAyuda a, .datosRedesSociales a, .datosAtencionAlCliente a {
  margin-top: 5px;
  color: #5C5D60; }

.decoracion-enlaces, .institucional a, .ayuda a, .redesSociales a, .atencionAlCliente a {
  text-decoration: none; }

.enlaces-after, .datosInstitucionales a:hover, .datosAyuda a:hover, .datosRedesSociales a:hover, .datosAtencionAlCliente a:hover {
  text-decoration: underline; }

.boton, .botonTop {
  grid-area: botonTop;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: end;
  margin-right: 130px;
  margin-bottom: 15px; }

.edit-boton, .botonTop .fa-solid {
  color: #5C5D60;
  font-size: 35px; }

/* General */
/* Carrito */
/* micuenta.html */
/* contactoviaemail.html */
/* preguntasfrecuentes.html */
/* pagosypromociones.html */
/* COMPONENTS */
/* LAYOUT */
.logoHeader {
  display: flex;
  justify-content: center; }
  .logoHeader img {
    width: 180px;
    height: 160px;
    margin-bottom: 30px;
    margin-top: 15px; }

.edit-nav {
  background-color: #FBE3D9; }

.dropdown-menu {
  background-color: #FBE3D9; }
  .dropdown-menu .dropdown-menu i {
    padding-right: 10px; }
    .dropdown-menu .dropdown-menu i .dropdown-menu a:hover {
      background-color: transparent;
      text-decoration: underline; }

.btn {
  color: #5C5D60;
  outline: 1px solid #5C5D60; }

.footer-grid, .gridContainerFooter {
  display: grid;
  grid-template-areas: "navFooter navFooter" "botonTop botonTop";
  background-color: #FBE3D9; }

.footer-nav, .navFooter {
  grid-area: navFooter;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15px;
  padding-top: 15px; }

.titulos, .navFooter h2 {
  color: #5C5D60;
  font-size: 25px; }

.columna-datos, .datosInstitucionales, .datosAyuda, .datosRedesSociales, .datosAtencionAlCliente {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.enlaces, .datosInstitucionales a, .datosAyuda a, .datosRedesSociales a, .datosAtencionAlCliente a {
  margin-top: 5px;
  color: #5C5D60; }

.decoracion-enlaces, .institucional a, .ayuda a, .redesSociales a, .atencionAlCliente a {
  text-decoration: none; }

.enlaces-after, .datosInstitucionales a:hover, .datosAyuda a:hover, .datosRedesSociales a:hover, .datosAtencionAlCliente a:hover {
  text-decoration: underline; }

.boton, .botonTop {
  grid-area: botonTop;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: end;
  margin-right: 130px;
  margin-bottom: 15px; }

.edit-boton, .botonTop .fa-solid {
  color: #5C5D60;
  font-size: 35px; }

.navFooterAcordeon {
  display: none; }

.gridContainerFooter {
  background-color: #FBE3D9; }

/* General */
/* Carrito */
/* micuenta.html */
/* contactoviaemail.html */
/* preguntasfrecuentes.html */
/* pagosypromociones.html */
.containerCarousel {
  margin-top: 30px;
  width: 100%;
  height: 100%; }
  .containerCarousel img {
    width: 100%;
    height: 100%; }

.tituloCard1 {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center; }
  .tituloCard1 h1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold; }

.containerCards1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .containerCards1 .card {
    margin: 10px; }
    .containerCards1 .card img {
      border-bottom: 1px solid lightgray;
      width: 238px;
      height: 299px; }

.containerCards1 .card:hover {
  cursor: pointer; }

.tituloCard2 {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center; }
  .tituloCard2 h1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold; }

.logosMarcas {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px; }
  .logosMarcas img:hover {
    cursor: pointer; }

.containerCards2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .containerCards2 .card {
    margin: 10px; }
    .containerCards2 .card img {
      border-bottom: 1px solid lightgray;
      width: 238px;
      height: 299px; }

.containerCards2 .card:hover {
  cursor: pointer; }

.tituloPagos h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold; }

.logosPagos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px; }

/* PAGES */
/* General */
/* Carrito */
/* micuenta.html */
/* contactoviaemail.html */
/* preguntasfrecuentes.html */
/* pagosypromociones.html */
.botonVolver {
  margin-top: 30px;
  margin-left: 30px;
  width: 218px; }
  .botonVolver a {
    color: #5C5D60;
    font-size: 18px;
    text-decoration: none; }
    .botonVolver a:hover {
      text-decoration: underline; }

.tituloPags {
  font-size: 15px;
  margin-left: 30px;
  margin-top: 10px; }

.tituloForm {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px; }

/* General */
/* Carrito */
/* micuenta.html */
/* contactoviaemail.html */
/* preguntasfrecuentes.html */
/* pagosypromociones.html */
.bolsaCarrito {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-left: 40px; }

.textoCarrito {
  text-align: center;
  margin-bottom: 140px;
  margin-top: -20px; }

/* General */
/* Carrito */
/* micuenta.html */
/* contactoviaemail.html */
/* preguntasfrecuentes.html */
/* pagosypromociones.html */
.formularioContactoDatos {
  display: grid;
  grid-template-areas: "datosIzquierda datosDerecha" "datosCheckbox datosCheckbox";
  gap: 20px;
  background-color: #FBE3D9;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px; }

.datosIzquierda {
  grid-area: datosIzquierda; }
  .datosIzquierda input {
    outline: none;
    background: transparent;
    border: none;
    margin-bottom: 15px;
    border-bottom: 1px solid #5C5D60;
    padding-bottom: 10px;
    font-size: 15px;
    width: 300px; }

.datosDerecha {
  grid-area: datosDerecha; }
  .datosDerecha input {
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #5C5D60;
    padding-bottom: 10px;
    font-size: 15px;
    width: 300px; }

.botonEnviarCorreo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; }
  .botonEnviarCorreo button {
    cursor: pointer;
    background: #FBE3D9;
    border: none;
    font-size: 17px;
    border-radius: 10px;
    padding: 10px 40px 10px 40px; }

/* General */
/* Carrito */
/* micuenta.html */
/* contactoviaemail.html */
/* preguntasfrecuentes.html */
/* pagosypromociones.html */
.cajaContacto {
  display: flex;
  justify-content: center;
  max-width: 100%; }

.contacto {
  background-color: #FBE3D9;
  padding: 40px;
  border-radius: 20px;
  margin: 20px;
  margin-bottom: 40px; }

.form-check-label a {
  color: #5C5D60; }

.btn {
  color: #5C5D60; }

/* General */
/* Carrito */
/* micuenta.html */
/* contactoviaemail.html */
/* preguntasfrecuentes.html */
/* pagosypromociones.html */
/* Paginas de venta */
.containerGridnewin {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "filtroArticulos articulos" "filtroArticulos articulos" "filtroArticulos articulos" "paginasNum paginasNum"; }

.filtroArticulos {
  grid-area: filtroArticulos;
  display: flex;
  flex-direction: column;
  width: 400px; }
  .filtroArticulos div {
    margin: 20px 0px 20px 20px; }

.tituloFiltro {
  background-color: #FBE3D9;
  text-align: center;
  padding: 10px;
  border-radius: 20px; }

.columnaIndumentarias {
  background-color: #FBE3D9;
  border-radius: 20px; }
  .columnaIndumentarias div {
    display: flex;
    flex-direction: column; }

.filtroArticulos p {
  margin-top: 20px; }
  .filtroArticulos p:hover {
    cursor: pointer; }

.articulos {
  grid-area: articulos; }
  .articulos div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px; }

.paginasNum {
  grid-area: paginasNum;
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center; }

.articulos img {
  width: 180px;
  height: 220px; }

/* General */
/* Carrito */
/* micuenta.html */
/* contactoviaemail.html */
/* preguntasfrecuentes.html */
/* pagosypromociones.html */
.containerPagos {
  display: flex;
  justify-content: center;
  margin: 60px; }

.containerGridPagos {
  display: grid;
  grid-template-areas: "tituloCredito" "credito" "tituloDebito" "debito" "tituloMercadoPago" "mercadoPago";
  gap: 40px; }

.tituloCredito {
  grid-area: tituloCredito; }

.credito {
  grid-area: credito;
  display: flex;
  flex-wrap: wrap; }

.tituloDebito {
  grid-area: tituloDebito; }

.debito {
  grid-area: debito;
  display: flex;
  flex-wrap: wrap; }

.tituloMercadoPago {
  grid-area: tituloMercadoPago; }

.mercadoPago {
  grid-area: mercadoPago;
  display: flex; }

.containerPagos img {
  width: 200px;
  height: 150px; }

/* General */
/* Carrito */
/* micuenta.html */
/* contactoviaemail.html */
/* preguntasfrecuentes.html */
/* pagosypromociones.html */
.parrafoPoliticas p {
  margin: 60px; }

/* General */
/* Carrito */
/* micuenta.html */
/* contactoviaemail.html */
/* preguntasfrecuentes.html */
/* pagosypromociones.html */
.preguntasDestacadas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px; }
  .preguntasDestacadas div {
    margin: 20px; }

.parrafoInfo {
  margin: 60px; }

/* General */
/* Carrito */
/* micuenta.html */
/* contactoviaemail.html */
/* preguntasfrecuentes.html */
/* pagosypromociones.html */
/* General */
/* Carrito */
/* micuenta.html */
/* contactoviaemail.html */
/* preguntasfrecuentes.html */
/* pagosypromociones.html */
/* General */
/* Carrito */
/* micuenta.html */
/* contactoviaemail.html */
/* preguntasfrecuentes.html */
/* pagosypromociones.html */
.parrafoTerminos p {
  margin: 60px; }

/* General */
/* Carrito */
/* micuenta.html */
/* contactoviaemail.html */
/* preguntasfrecuentes.html */
/* pagosypromociones.html */
.presentacionLogosMarcas {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; }

.presentacionLogosMarcas img {
  padding: 60px; }

/* VARIABLES */
