/* ABSTRACTS */

@import "abstracts/map";
@import "abstracts/extend";
@import "abstracts/mixin";

/* COMPONENTS */

@import "components/cards";
@import "components/carousel";

/* LAYOUT */

@import "layout/header";
@import "layout/footer";
@import "layout/main";

/* PAGES */

@import "pages/general";

/* VARIABLES */

@import "variables/variables";