/* ABSTRACTS */

@import "abstracts/map";
@import "abstracts/extend";
@import "abstracts/mixin";

/* COMPONENTS */

@import "components/cards";
@import "components/carousel";

/* LAYOUT */

@import "layout/header";
@import "layout/footer";
@import "layout/main";

/* PAGES */

@import "pages/general";
@import "pages/carrito";
@import "pages/contactoviaemail";
@import "pages/micuenta";
@import "pages/secondarypags";
@import "pages/pagosypromociones";
@import "pages/politicasdeprivacidad";
@import "pages/preguntasfrecuentes";
@import "pages/quienessomos";
@import "pages/sucursales";
@import "pages/terminosycondiciones";
@import "pages/marcas";

/* VARIABLES */

@import "variables/variables";