@import "../variables/variables";
@import "../abstracts/mixin";

.presentacionLogosMarcas {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.presentacionLogosMarcas img {
    padding: 60px;
}