@import "../variables/variables";
@import "../abstracts/mixin";

.cajaContacto{
    @include caja-contacto;
}

.contacto{
    @include contacto;
}

.form-check-label a {
    color: $color-secondary;
}

.btn {
    color: $color-secondary;
}