@import "variables/variables";

.footer-grid {
    display: grid;
    grid-template-areas:
        "navFooter navFooter"
        "botonTop botonTop";
    background-color: $color-primary;
}

.footer-nav {
    grid-area: navFooter;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
    padding-top: 15px;
}

.titulos {
    color: $color-secondary;
    font-size: 25px;
}

.columna-datos {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.enlaces {
    margin-top: 5px;
    color: $color-secondary;
}

.decoracion-enlaces {
    text-decoration: none;
}

.enlaces-after {
    text-decoration: underline;
}

.boton {
    grid-area: botonTop;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: end;
    margin-right: 130px;
    margin-bottom: 15px;
}

.edit-boton {
    color: $color-secondary;
    font-size: 35px;
}