@import "../variables/variables";

@mixin carousel {
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

@mixin img-carosuel {
    width: 100%;
    height: 100%;
}

@mixin titulo-card {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

@mixin texto-card {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

@mixin card-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@mixin espacio-alrededor {
    margin: 10px;
}

@mixin cursor-click {
    cursor: pointer;
}

@mixin card-img {
    border-bottom: 1px solid rgb(211, 211, 211);
    width: 238px;
    height: 299px;
}

@mixin marcas {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

@mixin titulo-pagos {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

@mixin logos-pagos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

/* General */

@mixin boton-volver {
    margin-top: 30px;
    margin-left: 30px;
    width: 218px;
}

@mixin titulo-paginas{
    font-size: 15px;
    margin-left: 30px;
    margin-top: 10px;
}